

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
}

.flex-item{
    width: 100%;

}

label {
    background-color: #04AA6D
}

p{
    font-size: 20px;
}

.form-item{
    padding: 10px;
}

input{
    border: 2px solid rgb(219, 179, 134);
    border-radius: 4px;
    width: 50%;
    height: 40px;
  }

  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }